@import "../App.css";

#background-md {
  background-image: url('../images/background.png');
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 50px;
}

#box-md {
  position: relative;
  padding: 50px;
  margin: auto;
  width: 70%;
  max-width: 1000px;
  color: white;
  background-color: var(--darkblue);
  font-size: larger;
}

h2 {
  text-shadow: 4px 3px var(--darker);
}

#review-form {
  max-width: 1000px;
  position: relative;
  margin: auto;
  align-items: center;
}