@import "../../App.css";

.navbar {
    background-color: var(--darkblue);
}

.navbar a {
    color: white;
}

.navbar-nav a:hover {
    color: var(--lightblue);
}

.navbar-brand {
    font-family: "Lilita One", sans-serif;
}

a.navbar-brand:hover {
    color: white;
}