@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
:root {
    --darkblue: #424C7F;
    --lightblue: #93c7ff;
}

.navbar {
    background-color: var(--darkblue);
}

.navbar a {
    color: white;
}

.navbar-nav a:hover {
    color: var(--lightblue);
}

.navbar-brand {
    font-family: "Lilita One", sans-serif;
}

a.navbar-brand:hover {
    color: white;
}