@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

:root {
  --darkblue: #424C7F;
  --lightblue: #93c7ff;
  --darker: #273162;
  --gray: #F1F0F5;
  --blue: #547dee;
  --accent: #00bd88;
}

html {
  scroll-behavior: smooth !important;
}

a.light, button.light {
  color: var(--darkblue);
  background-color: white;
  border-color: white;
}

a.light:hover, button.light:hover {
  color: var(--darkblue);
  background-color: var(--lightblue);
  border-color: var(--lightblue);
}

button.dark {
  color: white;
  background-color: var(--darkblue);
  border-color: var(--darkblue);
}

button.dark:hover {
  color: white;
  background-color: var(--darker);
  border-color: var(--darker);
}

button.dark:disabled {
  background-color: var(--gray);
}

button.dark:active {
  color: white !important;
  background-color: #6574bc !important;
}

.title {
  color: var(--darkblue);
  padding: 3px;
}

.top-90 {
  height: 90%;
}

input[type=checkbox]:checked{
  background-color: var(--darkblue);
}